@import "tailwindcss";

/* global.css or tailwind.css */
[data-sonner-toast] {
  background-color: white !important;
  color: black !important;
}
/* 
 @import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

.font-berkshire {
  font-family: 'Berkshire Swash', cursive;
}  */
 
