@import "tailwindcss";

/* global.css or tailwind.css */
[data-sonner-toast] {
  background-color: white !important;
  color: black !important;
}

 /* @import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

.font-berkshire {
  font-family: "Berkshire Swash", cursive;
} */




/* global.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}